{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}

<div class="page-header">
  {% if book %}
  <h1>Edit "{{ book.title }}"</h1>
  {% else %}
  <h1>Add a New Book</h1>
  {% endif %}
  <img src="{% static 'images/edit-book.svg' %}" alt="Editing a book" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit</button>
</form>

{% endblock %}
